*{
    margin: 0px;
}
/* header-style */
.header{
    background-image: url('../Assets/Hero-bg.png');
    background-size: contain; 
    height: 675px;
    margin: 0px auto;
    padding: 10px 0px;
    
}
/* nav-style */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:35px 100px;
    
}
h2{
    font-size: 34px;
    color:#4E47FF;
}
.btn-primary{
    padding: 12px 36px;
    border-radius: 10px;
    background-color: #4E47FF;
    color: white;
    border: none;
}

/* banner-style */
.banner{
    
    align-items: center;
    /* justify-content: flex-end; */
    /* margin-left: auto; */
}
.banner-title{
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    margin:200px 300px 50px 300px;   
}
.banner-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 328px;
    width: 403px;
    border-radius: 48px;
}
.head-action{
    color: black;
    font-weight: bold;
    font-size: 42px;
    padding-bottom: 23px;
}
.action{
    margin: 130px 140px;  
}

.action-description{
    color: rgba(37, 36, 50, 0.500);
    font-weight: normal;
    font-size: 24px;
    padding-bottom: 23px;
}

.first-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-text{
    height: 203px;
    width: 517px;
}

.user{
    margin: 50px 80px;
} 
.user-title{
    font-weight: bold;
    font-size: 40px;
    justify-content: center;
    text-align: center;
    color: black;
    margin: 50px 80px ;
    padding-bottom: 50px 80px 40px 80px;

}
.user-number{
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-weight: normal;
}
.user-action{
    margin: 130px 140px;  
    background-color: rgba(77, 71, 255, 0.100);
    border-radius: 24px;
    padding: 30px 80px;
}
.number{
    font-size:80px;
}
.user-type{
    font-weight: normal;
    font-size: medium;
    color: rgba(37, 36, 50, 0.500);
    text-align: center;
}
.feedbacks{
    margin: 130px 140px; 
}
.feedback-title{
    font-weight: bold;
    font-size: 35px;
    justify-content: center;
    text-align: center;
    color: black;
    margin-bottom: 75px;
}

.fback{
    height: 25px;
    width: 25px;
    margin-bottom: 20px;
}
.title{
    font-size: large;
    font-weight: 20px;
    margin-bottom: 10px;
}
.feedback-container{
    display: flex;
    gap: 20px;
}
.feedback{
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0 ,0.06);
    padding: 20px;
    border-radius: 14px;
}
.description{
    margin-bottom: 15px;
}
.parent{
    display: flex;
    align-items: center;
    height: 20px;
    justify-content: left;
}
.ficon{
    height: 30px;
    width: 30px;
    margin-right: 20px;
}
.child{
    align-items: center;
    text-align: left;
    font-size: small;
    color: rgba(0, 0, 0, 0.600);;
}
.touch{
    margin: 130px 140px;
}
.touch-title{
    font-weight: bold;
    font-size: 80px;
}
.touch-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input[type="email"]{
    height: 50px;
    width: 497px;
    box-sizing: border-box;
    border-style:none;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.150);
    border-radius: 10px;
    margin-top: 10px;
}
input[type="text"]{
    height: 50px;
    width: 499px;
    box-sizing: border-box;
    border-style:none;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.150);
    border-radius: 10px;
    margin-top: 10px;
}
#message{
    height: 102px;
    padding-bottom: 40px;
}
input{
    padding: 5px 300px 0px 32px ;
    font-size: medium;
}
.touch-btn{
    padding: 15px 212px;
    font: weight 55px;0;  
}
.bg-color{
    background-color: rgba(192, 190, 236, 0.1);
}
button:hover {
  background-color: rgb(243, 240, 77);
  font-size: 15px;
  color: black;
}
.footer-content{
    justify-content: center;
    align-items: center;
    padding: 50px 455px 60px;    
}

.foot-heading{
    text-align: center;
    font-weight: bolder;
    font-size: 80px;
    padding: 0px 120px 0px 120px;
}
.foot-paragraph{
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}
ul li{
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px; 
    
}

li a{
    text-decoration: none;
    font-size:small;
    color: #8987A1;
}
ul{
    display: flex;
}
